@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin text-gradient {
  & {
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
  }
}

@mixin align-vertically-horizontally {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERIES MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {@content}
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {@content}
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {@content}
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {@content}
  }
}


//TOUCH ONLY non hover devices
//@media only screen and (max-width: 56.25em),
//only screen and (hover: none) {
//}